/* COMMON */
.container .container {
    margin: 5px;
}

[class*="col-"] {
    position: relative;
    text-align: center;
    font-weight: bold;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}