/* COMMON */
body {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    animation-name: black;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
}
@keyframes black {
  
    from {
        background-color: rgba(0, 0, 0, 1);
    }
    25% {
        background-color: rgba(0, 0, 0, 0.75);
    }
    50% {
        background-color: rgba(0, 0, 0, 0.5);
    }
    75% {
        background-color: rgba(0, 0, 0, 0.25);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
    }

}

.container {
    position: relative;
}

.text {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 130px;
    text-shadow: 4px 4px 0px #000000;
}
.candle {
    text-align: center;
    width: 30px;
    padding: 0;
    margin: 0 3px;
    animation-name: candle;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
}
@keyframes candle {
  
    from {
        opacity: 0;
        transform: scale(0);
    }
    25% {
        opacity: 0.25;
        transform: scale(0.25);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.5);
    }
    75% {
        opacity: 0.75;
        transform: scale(0.75);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }

}

[class*="col-"] {
    position: relative;
    min-height: 97.16px;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #000000
}

.background-yellow {
    background-color: #FADA3B;
}
.background-red {
    background-color: #DB1A33;
}
.background-green {
    background-color: #72B566;
}
.background-orange {
    background-color: #ED6925;
}
.background-blue {
    background-color: #0763B1;
}

.color-yellow {
    color: #FADA3B;
}
.color-red {
    color: #DB1A33;
}
.color-green {
    color: #72B566;
}
.color-orange {
    color: #ED6925;
}
.color-blue {
    color: #0763B1;
}